.labelText p{
    font-size: 13px;;
}

.lni-users{
    font-size: xx-large;
    color: blue;
}

.nav-text {
    vertical-align:middle;
}

.heading{
    color: black;
    font-size: x-large;
    margin-left: 5px;
}

.lni-magnifier{
    font-size: medium;
}

.btnSeach{
    margin-top: 28px;
}

.lni-spinner-arrow{
    font-size: medium;
}

.space{
    margin-left: 5px;
}
