
.labelText p{
    font-size: 13px;;
}

.heading{
    color: black;
    font-size: x-large;
    margin-left: 5px;
}

.lni-bullhorn{
    font-size: xx-large;
    color: blue;
}

.btnSeach{
    margin-top: 30px;
}

.lni-magnifier{
    font-size: medium;
}

.space{
    margin-left: 5px;
}

.lni-spinner-arrow{
    font-size: medium;
}