<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        <div class="addinfo-header">
          Edit Offer Information
        </div>
        <span class="back-icon position-absolute"> 
          <a title="Go Back" class="back-button nb-btn-change cursor-pointer" routerLink="/pages/project/list"><i class="lni-reply"></i> </a>
        </span>
      </nb-card-header>
      <nb-card-body>
        <form #offerForm="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6">

            
              <div class="form-group">
                <label class="label-space">Coustomer Name:</label>

                <!-- <input type="text" nbInput fullWidth fieldSize="small" name="ContactId" [(ngModel)]="editDetails.ContactId"> -->

                <dx-select-box
                [dataSource]="customerList" [height]="30" class="selectbox-dx" [(selectedItem)]="ContactId" name="ContactId" [(ngModel)]="editDetails.ContactId">
                </dx-select-box>
                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small"  placeholder="Select" name="ContactId" [(ngModel)]="editDetails.ContactId">
                      <nb-option *ngFor="let name of customerList" value="{{name}}">{{name}}</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>

              <div class="form-group">
                <label class="label-space">Project Name:</label>
                <!-- <input type="text" nbInput fullWidth fieldSize="small" name="ProjectId" [(ngModel)]="editDetails.ProjectId"> -->
                <dx-select-box
                  [dataSource]="projectList" [height]="30" class="selectbox-dx" [(selectedItem)]="ProjectId" name="ProjectId" [(ngModel)]="editDetails.ProjectId"
                  (onValueChanged)="onChange($event)" >
                </dx-select-box>

                <div class="form-group required" id="dd">
                  <!-- <div class="dropdown">
                  
                    <nb-select size="small" placeholder="Select" name="ProjectId" [(ngModel)]="editDetails.ProjectId" (selectedChange)="onChange($event)">
                      <nb-option *ngFor="let project of projectList" value="{{project}}">{{project}}</nb-option>
                    </nb-select>
                  </div> -->
                </div>
              </div>

              <div class="form-group">
                <label class="label-space">Project Address:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="ProjectAddress" [(ngModel)]="editDetails.ProjectAddress">
              </div>


              <div class="form-group">
                <label class="label-space">Unit List:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="UnitId" [(ngModel)]="editDetails.UnitId" readonly="true">
                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small" placeholder="Select" name="UnitId" ngModel (selectedChange)="onChangeUnitId($event)">
                      <nb-option *ngFor="let detail of projectDetails" value="{{detail.Floor+'-'+detail.UnitId+'-'+detail.Size+'-'+detail.Rate}}">{{ detail.Floor+"-"+detail.UnitId}}</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>

              <div class="form-group">
                <label class="label-space">Floor No:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="FloorNo" [(ngModel)]="editDetails.FloorNo">
              </div>

              <div class="form-group">
                  <label class="label-space">Floor Area:</label>
                  <input type="text" nbInput fullWidth fieldSize="small" name="FloorArea" [(ngModel)]="editDetails.FloorArea">
              </div>

              <div class="form-group">
                <label class="label-space">Rate Per Sft:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="RatePerSft" [(ngModel)]="editDetails.RatePerSft">
              </div>

              <div class="form-group">
                <label class="label-space">Down Payment Rate:</label>
                <input type="number" nbInput fullWidth fieldSize="small" name="DownPaymentRate" (blur)="calculateDownPayment()" [(ngModel)]="editDetails.DownPaymentRate">
              </div>

              <div class="form-group">
                <label class="label-space">Down Payment:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="DownPayment" [(ngModel)]="editDetails.DownPayment">
              </div>

              <!-- <div class="form-group">
                <label class="label-space required">Payment Type:<span class="text-danger">*</span></label>
                <dx-select-box
                [dataSource]="['Monthly', 'By Monthly', 'Quarterly']" [height]="30" class="selectbox-dx">
                </dx-select-box>
              </div> -->

              <div class="form-group">
                <label class="label-space">Payment Type:</label>
                <dx-select-box
                [dataSource]="['Monthly', 'By Monthly', 'Quarterly']" [height]="30" class="selectbox-dx" [(selectedItem)]="InstallpaymentType" name="InstallpaymentType" [(ngModel)]="editDetails.InstallpaymentType">
                </dx-select-box>

                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small"  placeholder="Select" name="InstallpaymentType" [(ngModel)]="editDetails.InstallpaymentType">
                      <nb-option value="Monthly">Monthly</nb-option>
                      <nb-option value="By Monthly">By Monthly</nb-option>
                      <nb-option value="Quarterly">Quarterly</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>

              <div class="form-group">
                <label class="label-space">Reserve Fund:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="ReserveFund" [(ngModel)]="editDetails.ReserveFund">
              </div>

              <div class="form-group">
                <label class="label-space">Registration Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="RegistrationCost" [(ngModel)]="editDetails.RegistrationCost">
              </div>

              <div class="form-group">
                <label class="label-space">Other Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="OthersCost" [(ngModel)]="editDetails.OthersCost">
              </div>

              <!-- <div class="form-group">
                 <button class="btnSubmit pull-right" nbButton size="xsmall" status="default">  Submit</button> 
                <button type="submit" class="btnSubmit pull-right" nbButton size="xsmall" status="default"  (click)="onUpdate(offerForm)">  Submit</button>
              </div> -->
             
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label class="label-space">Direction:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="Direction" [(ngModel)]="editDetails.Direction">
              </div>

              <div class="form-group">
                <label class="label-space">Hand Over Date:</label>
                <input type="date" class="form-control" name="HandOverTime" [(ngModel)]="editDetails.HandOverTime">
              </div>
  
              <div class="form-group">
                <label class="label-space">Unit Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="UnitCost" [(ngModel)]="editDetails.UnitCost">
              </div>
  
              <div class="form-group">
                <label class="label-space">Parking Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="ParkingCost" (blur)="onBlurMethod1()" [(ngModel)]="editDetails.ParkingCost">
              </div>

              <div class="form-group">
                <label class="label-space">Total Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="TotalCost" [(ngModel)]="editDetails.TotalCost">
              </div>

              <div class="form-group">
                <label class="label-space">Booking Money Rate:</label>
                <input type="number" nbInput fullWidth fieldSize="small" name="BookingMoneyRate" (blur)="calculateBookingMoney()" [(ngModel)]="editDetails.BookingMoneyRate">
              </div>

              <div class="form-group">
                  <label class="label-space">Booking Money:</label>
                  <input type="text" nbInput fullWidth fieldSize="small" name="BookingMoney" [(ngModel)]="editDetails.BookingMoney">
              </div>

              <div class="form-group">
                <label class="label-space">Booking Date:</label>
                <input type="date" class="form-control" name="BookingDate" [(ngModel)]="editDetails.BookingDate">
              </div>

              <div class="form-group">
                <label class="label-space">Down Payment Date:</label>
                <input type="date" class="form-control" name="DownPaymentDate" [(ngModel)]="editDetails.DownPaymentDate">
              </div>

             
              <div class="form-group">
                <label class="label-space">No Of Installment:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="NoOfInstallpayment" (blur)="onBlurMethod2()" [(ngModel)]="editDetails.NoOfInstallpayment">
              </div>

              <div class="form-group">
                <label class="label-space">Amount Per Installment:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="AmountPerInstallment" [(ngModel)]="editDetails.AmountPerInstallment">
              </div>

              <div class="form-group">
                <label class="label-space">Additional Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="Additioncost" [(ngModel)]="editDetails.Additioncost">
              </div>

              <div class="form-group">
                <label class="label-space">Utility Connection Cost:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="UtilityConnectionCost" [(ngModel)]="editDetails.UtilityConnectionCost">
              </div>

              <!-- <div class="form-group">
                <a class="btnSubmit" nbButton size="xsmall" status="warning" routerLink="/pages/offer/list">  Cancel</a>
              </div> -->

            </div>
            
          </div>

      </form>
      </nb-card-body>

      <nb-card-footer>

        <div class="col-md-12 text-center">
          <span class="pr-2">
            <button type="submit" (click)="onUpdate(offerForm)" class="ml-2 hovr-pointr tdl-theme-bg" nbButton size="xsmall" status="default">Update</button>
          </span>
          <span class="pl-2">
            <a  class="hovr-pointr cancle-btn" routerLink="/pages/offer/list" nbButton size="xsmall">  Cancel</a>
          </span>
        </div>
      </nb-card-footer>

    </nb-card>
  </div>
</div>