<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span><h3>Offer List</h3></span> 
        <span class="pull-right"><a nbButton size="xsmall" status="primary" routerLink="create"><i class="lni-plus"></i>  Add New</a></span>
      </nb-card-header>
      <nb-card-body>
        <div class="">
          <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true">
            <dxo-search-panel [visible]="true" [width]="250"></dxo-search-panel>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-export [enabled]="true" fileName="Contact" [allowExportSelectedData]="true"></dxo-export>
          
            <dxi-column dataField="ContactId" caption="Customer Name">
            </dxi-column>
            <dxi-column dataField="ProjectId" caption="Project Name">
            </dxi-column>
            <dxi-column dataField="id" caption="Action" [width]="100" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">  
            </dxi-column>  
            <div *dxTemplate="let data of 'cellTemplate'">  
              
                <a [routerLink]="['view',data.value ]" routerLinkActive="active">  
                  <i class="lni-popup actionIcon"></i>  
                </a>
                <a [routerLink]="['edit',data.value ]" routerLinkActive="active">  
                  <i class="lni-pencil actionIcon"></i>  
                </a>
                <a title="Export PDF" class="cursor-pointer" (click)="createPdf(data.value)">
                  <i class="lni-share actionIcon"></i>
                </a>
                <!-- <button name="id" [(ngModel)]="data.value" (click)="createPdf()">Open PDF</button> -->
                <!-- <form #offerDeleteForm="ngForm" (ngSubmit)="onDeleteSubmit(offerDeleteForm)" novalidate>
                  <input type="text" name="id" [(ngModel)]="data.value"><br> -->
                  <!-- <button nbButton size="xsmall" status="default">  Delete</button>
                </form> -->
                
            </div>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
          </dx-data-grid>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>