<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="addinfo-header col-md-12">
          Edit Customer Information
        </div>
        <span class="back-icon position-absolute"> 
          <a title="Go Back" class="back-button nb-btn-change cursor-pointer" routerLink="/pages/contact/list"><i class="lni-reply"></i> </a>
        </span>
      </nb-card-header>
      <nb-card-body>
        <form #clientForm="ngForm" (ngSubmit)="onUpdate(clientForm)" novalidate>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                  <label  class="label-space">Name:</label>
                  <input type="text" nbInput fullWidth fieldSize="small" name="name" [(ngModel)]="editDetails.name">
              </div>

              <div class="form-group">
                <label class="label-space">Email:</label>
                <input type="email" nbInput fullWidth fieldSize="small" name="email" [(ngModel)]="editDetails.email">
              </div>

              <div class="form-group">
                <label class="label-space">Contact Status:</label>

                <dx-select-box
                  [dataSource]="['Lead', 'Prospect', 'Opportunity', 'Customer']" [height]="30" placeholder="Select a Status" class="selectbox-dx" [(selectedItem)]="contactStatus" name="contactStatus" [(ngModel)]="editDetails.contactStatus">
                </dx-select-box>

                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small"  placeholder="Select" name="contactStatus" [(ngModel)]="editDetails.contactStatus">
                      <nb-option value="Lead">Lead</nb-option>
                      <nb-option value="Prospect">Prospect</nb-option>
                      <nb-option value="Opportunity">Opportunity</nb-option>
                      <nb-option value="Customer">Customer</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>

              <div class="form-group">
                <label class="label-space">Location:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="location" [(ngModel)]="editDetails.location">
              </div>

              <div class="form-group">
                  <label class="label-space">Flat Size:</label>
                  <input type="text" nbInput fullWidth fieldSize="small" name="flatsize" [(ngModel)]="editDetails.flatsize">
              </div>

              <div class="form-group">
                  <label class="label-space">Ready/On Going:</label>
                  <dx-select-box
                  [dataSource]="['Ready', 'OnGoing']" [height]="30" class="selectbox-dx" [(selectedItem)]="readyOngoing" name="readyOngoing" [(ngModel)]="editDetails.readyOngoing">
                </dx-select-box>

                  <!-- <div class="form-group required" id="dd">
                    <div class="dropdown">
                    
                      <nb-select size="small"  placeholder="Select" name="readyOngoing" [(ngModel)]="editDetails.readyOngoing">
                        <nb-option value="Ready">Ready</nb-option>
                        <nb-option value="OnGoing">On Going</nb-option>
                      </nb-select>
                    </div>
                  </div> -->
              </div>

              <div class="form-group">
                  <label class="label-space">For Whome:</label>
                  <dx-select-box
                  [dataSource]="['Own', 'Other']" [height]="30" class="selectbox-dx" [(selectedItem)]="forwhome" name="forwhome" [(ngModel)]="editDetails.forwhome">
                </dx-select-box>

                  <!-- <div class="form-group required" id="dd">
                    <div class="dropdown">
                    
                      <nb-select size="small"  placeholder="Select" name="forwhome" [(ngModel)]="editDetails.forwhome">
                        <nb-option value="Own">Own</nb-option>
                        <nb-option value="Other">Other</nb-option>
                      </nb-select>
                    </div>
                  </div> -->
              </div>

              <div class="form-group">
                  <label class="label-space">Finance By:</label>
                  <dx-select-box
                  [dataSource]="['Own', 'Own & Bank']" [height]="30" class="selectbox-dx" [(selectedItem)]="financeBy" name="financeBy" [(ngModel)]="editDetails.financeBy" >
                </dx-select-box>

                  <!-- <div class="form-group required" id="dd">
                    <div class="dropdown">
                    
                      <nb-select size="small"  placeholder="Select" name="financeBy" [(ngModel)]="editDetails.financeBy">
                        <nb-option value="Own">Own</nb-option>
                        <nb-option value="Own & Bank">Own & Bank</nb-option>
                      </nb-select>
                    </div>
                  </div> -->
              </div>
             
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label class="label-space">Mobile No1:</label>
                <input type="text" (keypress)="keyPress($event)" nbInput fullWidth fieldSize="small" name="mobileno1" [(ngModel)]="editDetails.mobileno1">
              </div>
  
              <div class="form-group">
                <label class="label-space">Mobile No2:</label>
                <input type="text" (keypress)="keyPress($event)" nbInput fullWidth fieldSize="small" name="mobileno2" [(ngModel)]="editDetails.mobileno2">
              </div>
  
              <div class="form-group">
                <label class="label-space">Mobile No3:</label>
                <input type="text" (keypress)="keyPress($event)" nbInput fullWidth fieldSize="small" name="mobileno3" [(ngModel)]="editDetails.mobileno3">
              </div>

              <div class="form-group">
                <label class="label-space">Wish Location:</label>
                <input type="text" nbInput fullWidth fieldSize="small" name="wishlocation" [(ngModel)]="editDetails.wishlocation">
              </div>

              <div class="form-group">
                  <label class="label-space">Budget:</label>
                  <input type="text" nbInput fullWidth fieldSize="small" name="budget" [(ngModel)]="editDetails.budget">
              </div>

              <div class="form-group">
                <label class="label-space">Source:</label>
                <dx-select-box
                  [dataSource]="['LandOwner reference', 'Print Media', 'Electronic Media', 'Project Fair']" [height]="30" class="selectbox-dx" [(selectedItem)]="source" name="source" [(ngModel)]="editDetails.source">
                </dx-select-box>
                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small"  placeholder="Select" name="source" [(ngModel)]="editDetails.source">
                      <nb-option value="LandOwner reference">LandOwner reference</nb-option>
                      <nb-option value="Print Media">Print Media</nb-option>
                      <nb-option value="Electronic Media">Electronic Media</nb-option>
                      <nb-option value="Project Fair">Project Fair</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>

              <div class="form-group">
                <label class="label-space">Purpose:</label>
                <dx-select-box
                [dataSource]="['Own Use', 'Rent']" [height]="30" class="selectbox-dx" [(selectedItem)]="purpose" name="purpose" [(ngModel)]="editDetails.purpose">
                </dx-select-box>

                <!-- <div class="form-group required" id="dd">
                  <div class="dropdown">
                  
                    <nb-select size="small"  placeholder="Select" name="purpose" [(ngModel)]="editDetails.purpose">
                      <nb-option value="Own Use">Own Use</nb-option>
                      <nb-option value="Rent">Rent</nb-option>
                    </nb-select>
                  </div>
                </div> -->
              </div>
              
              <div class="form-group">
                <label class="label-space">Hand Over Date:</label>
                <input type="date" class="form-control" name="handoverdate" [(ngModel)]="editDetails.handoverdate">
              </div>

              <!-- <div class="form-group">
                <a class="btnSubmit" nbButton size="xsmall" status="warning" routerLink="/pages/contact/list">  Cancel</a>
              </div> -->

            </div>
            
          </div>
        </form>
       
      </nb-card-body>
      <nb-card-footer>
        <div class="text-center">
          <span class="pr-2">
            <button class="tdl-theme-bg" size='xsmall'  (click)='onUpdate(clientForm)' nbButton >  Update</button>

          </span>
          <span class="pl-2">
            <a  class="hovr-pointr cancle-btn" routerLink="/pages/contact/list" nbButton size="xsmall">  Cancel</a>
          </span>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>